/* :root {
  --container-color: #ebebeb;
  --font-family: lato, sans-serif;
} */

body {
  margin: 0;
  box-sizing: border-box;
  color: #4b4848;
  background-color: azure;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

.container  > div {
  min-width: 400px;
  max-width: 550px;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid #dcdbdb;
}

.header-div {
  background-color: #dcdbdb;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.line {
  background-color: #dcdbdb;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header-div h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  color: #645f5f;
}

.tasks {
  background-color: white;
}

.line {
  padding: 20px;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  max-width: 550px;
  border-bottom: 1px solid #dcdbdb;
  padding: 20px;
  transition: background-color 0.5s ease;
}

.task:focus-within {
  background-color: rgb(240, 240, 232);
}

.task:focus-within input {
  background-color: #888;
  transition: background-color 0s ease;
}

input,
input:focus,
textarea:focus,
select:focus {
  border: 0;
  outline: 0;
  font-size: 14px;
  color: #222;
  line-height: 28px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
}

input::placeholder {
  font-style: italic;
}

.rotate {
  transform: rotate(90deg);
}

.container  .footer {
  text-align: center;
  color: grey;
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: center;
  padding: 20px;
}
